@import url('https://rsms.me/inter/inter-ui.css');
*{
    box-sizing: border-box;
}
*:focus{
    outline:0;
}
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}
body{
    background-color: #222;
    padding: 0;
    margin: 0;
}
a{
    color: #10ac84;
}
.scroll-hidden{
    overflow: hidden;
}
.logo{
    position: fixed;
    top: 30px;
    z-index: 12;
    left: 30px;
}
.logo img {
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.2);
    transform: rotate(-45deg);
}
.switch{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 12;
    cursor: pointer;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    padding-left: 3px;
}
.switch.light{
    background: #111;
    color: #fff;
}
.switch.dark{
    background: #fff;
    color: #000;
}
main{
    margin: 2vh;
    min-height: 96vh;
    background: #111;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #ddd;
    flex-direction: column;
    padding: 6vw;
    position: fixed;
    width: calc(100% - 4vh);
    top: 0;
    border: 5px solid rgba(0,0,0,0.1);
}
main h1{
    font-size: 45px;
    order: 1;
    margin: 0;
    line-height: 0.8;
    font-weight: 600;
    letter-spacing: -2px;
}
main h2{
    order: 2;
    font-weight: 300;
    color: #555;
    font-size: 14px;
}
main h1 a{
    color: #10ac84;
    text-decoration: none;
}
main h1 a:hover{
    opacity: 0.9;
}
main #button{
    text-decoration: none;
    color: #444;
    font-size: 13px;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
    order: 3;
    margin-top: 30px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 1px 0;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
main #button:hover{
    color: #10ac84;
    border-color: #10ac84;
}
.box{
    display: flex;
    flex-wrap: wrap;
    margin: 10vh 19vw;
    width: 30vw;
    margin-left: auto;
}
.card{
    width: 100%;
    min-height: 48vh;
    background: #111;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1vh;
}
.card *:hover{
    -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.card summary img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0.8;
}
.card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
    background: rgba(10,10,10,0.8);
    cursor: pointer;
    -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.card .card-body *{
    right: -58px;
    position: relative;
}
.card .card-body:hover{
    background: rgba(10,10,10,0.4);
}
.card .card-body:hover h2{
    color: #10ac84;
}
.card .card-body h2{
    font-size: 65px;
    line-height: 0.8;
    font-weight: 600;
    writing-mode: vertical-rl;
    margin: 0;
    letter-spacing: -5px;
    color: transparent;
    text-decoration: none;
    -webkit-text-stroke: 1px #10ac84;
    -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.card .card-body h3{
    color: #555;
    font-weight: 300;
    font-size: 14px;
    margin: 5px 0;
    line-height: 1;
}
.card .card-body .icon{
    font-size: 20px;
}
details summary{
    list-style: none;
    height: 100%;
}
details summary::-webkit-details-marker {
  display:none;
}
.close{
    top: 40px;
    width: 35px;
    position: fixed;
    right: calc(50% - 25px);
    text-align: center;
    padding: 16.5px 7.5px;
    height: 35px;
    background: #111;
    border-radius: 50%;
    cursor: pointer;
    z-index: 12;
}
.close .line{
    width: 20px;
    height: 1px;
    background: #fff;
    display: block;
}
.close .line:first-of-type{
    transform:rotate(-45deg);
}
.close .line:nth-child(2){
    transform:rotate(45deg);
    top: -1px;
    position: relative;|
}
.container{
    background: #111;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: auto;
    color: #fff;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
}
details[open] .container{
    pointer-events: all;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.container .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 25%;
    padding: 0;
    min-height: 85vh;
    position: relative;
    z-index: 1;
    margin-right: 0;
    margin-top: 0;
    background-color: #111;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}
.container-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.main-title{
    padding: 30px 20px;
    position: relative;
    left: -25%;
    border: 5px solid rgba(0,0,0,0.2);
    min-width: 400px;
    max-width: 100%;
}
.buttons{
    margin-top: auto;
    padding: 40px;
}
.container .container-body{
    display: flex;
    flex-wrap: wrap;
}
.container h2{
    font-size: 80px;
    margin: 0;
    color: #fff;
    letter-spacing: -6px;
    line-height: 1;
}
.container h3{
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
    margin: 0;
    letter-spacing: 1px;
    display: inline-block;
}
.container a{
    text-decoration: none;
    color: #10ac84;
    padding: 15px 20px;
    display: inline-block;
    font-size: 12.5px;
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(0,0,0,0.3);
    font-weight: 600;
    text-align: center;
    margin: 0 5px;
}
.container .container-footer a {
    padding: 20px 35px;
    font-size: 14px;
}
.container a:hover{
    background: rgba(0,0,0,0.5);
}
.dark-screen{
    width: 50%;
    background: #000;
    padding: 60px 120px;
    padding-top: 150px;
    margin-top: -180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box-info{
    padding: 10px 0;
}
.box-info span{
    display: block;
    line-height: 1.5;
}
.box-info span.title{
    font-size: 12.5px;
    color: #ddd;
}
.box-info span.description{
    font-weight: 600;
    font-size: 16px;
}
.container-body p{
    font-size: 14px;
    line-height: 2;
    text-align: justify;
}
.container-footer{
    width: 100%;
    background: #000;
    padding: 20px;
}
.container-footer img{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.025);
}
.container-footer .buttons{
    display: flex;
    justify-content: center;
}
.github {
    font-size: 2rem;
    position: fixed;
    top: 35px;
    right: 35px;
    color: #10ac84;
    z-index: 12;
}
footer{
    text-align: right;
    font-size: 11px;
    color: #666;
    font-weight: 300;
    background: transparent;
    margin: 1vh 2vh;
    z-index: 10;
    width: 100%;
    padding-top: 6vh;
}
footer a{
    color: #666;
    font-weight: 600;
    text-decoration: none;
}
footer a:hover{
    border-bottom: 1px solid #222;
}
@media all and (max-width:768px) {
    main{
        position: relative;
    }
    main h1{
        font-size: 40px;
    }
    main h2{
        margin: 10px 0;
    }
    .box{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .card{
        width: 100%;
        flex-direction: column;
        margin: 1vh 2vh;
    }
    .card .card-body{
        padding: 20px;
    }
    .card .card-body *{
        right: 0;
    }
    .card .card-body h2{
        font-size: 45px;
        letter-spacing: -2px;
    }
    .github{
        top: 20px;
        right: 20px;
    }
    .logo{
        top: 15px;
        left: 15px;
    }
    .logo img{
        border-width: 3px;
        height: 60px;
    }
    .switch{
        bottom: 20px;
        right: 20px;
    }
    footer{
        padding: 4vh;
        text-align: center;
    }
    .close{
        top: 25px;
    }
    .main-title{
        padding: 15px;
        min-width: 100%;
        left: 0;
        margin-top: auto;
        border-width: 3px;
    }
    .container h2{
        font-size: 40px;
        letter-spacing: -1px;
    }
    .container a{
        padding: 15px;
    }
    .dark-screen{
        width: 100%;
        margin-top: 0;
        padding: 20px;
    }
    .box-info span.description{
        font-size: 14px;
    }
    .container-footer{
        padding: 10px;
    }
    .container .container-footer a{
        padding: 12px 15px;
        font-size: 12.5px;
    }
    .buttons{
        margin-top: 0;
        padding: 20px 0;
    }
    .container .container-header{
        justify-content: center;
        align-content: flex-end;
        padding: 10px;
        min-height: 70vh;
        margin: 10px;
        width: calc(100% - 20px);
    }
}


/* light theme */
body.light-theme{
    background: #f4f4f4;
}
body.light-theme .logo img{
    border-color: rgba(210,210,210,0.2);
}
body.light-theme main{
    background: #fff;
    border-color: #eee;
    color: #111;
}
body.light-theme main h2{
    color: #666;
}
body.light-theme .card{
    background: #eee;
}
body.light-theme .card .card-body{
    background: rgba(235,235,235,.8);
}
body.light-theme .card .card-body:hover{
    background: rgba(235,235,235,.4);
}
body.light-theme .container{
    background: #fff;
}
body.light-theme .container a{
    background: rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.1);
}
body.light-theme .container a:hover{
    background: rgba(255,255,255,0.9);
}
body.light-theme .container-header{
    background-color: #ddd;
}
body.light-theme .container-header::after {
    background: rgba(240,240,240,0.5);
}
body.light-theme .main-title{
    border-color: rgba(235, 235, 235, .3);
}
body.light-theme .container h2{
    color: #111;
}
body.light-theme .container h3{
    color: #333;
}
body.light-theme .dark-screen{
    background: #eee;
    color: #444;
}
body.light-theme .container-footer{
    background: #eee;
}
body.light-theme .close{
    background: #fff;
}
body.light-theme .close .line{
    background: #222;
}
body.light-theme .box-info span.title{
    color: #777;
}
