---
layout: page
title: Blog
---

<div class="post-list">
  {% for post in site.posts %}
    <div class="post-item">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <img src="{{ post.image }}" alt="">
      </a>
      <div class="post-content">
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }} - {% for category in post.categories %}<span class="category">{{ category }} </span>{% endfor %}</div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.content | truncatewords: 21 ,"..." }}</p>
      </div>
    </div>
  {% endfor %}
</div>


<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
