* {
  box-sizing: border-box;
}

body,
html {
  font-family: $base-font-family;
  margin: 0;
  position: relative;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-size: 12px;
  scroll-behavior: smooth;
}

:root,
[data-theme="light"] {
  @include light-theme;
}

[data-theme="light"] {
  #light {
    display: none;
  }
}

[data-theme="dark"] {
  @include dark-theme;

  #dark {
    display: none;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    opacity: 0.9;
  }
}

p {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: normal;
  margin: 20px 0 20px 0;
}

img {
  background: #eee;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
