$base-font-family: "Lexend Deca", sans-serif;
$classic-font-family: "DM Serif Text", serif;
$base-font-size:   12px;


@mixin dark-theme {
  --bg-color: #111;
  --text-color: #c3b6a2;
  --text-color-02: #ccc;
  --text-color-03: #777;
  --brand-color: #2d3436;
  --brand-color-02: #5725c6;
}

@mixin light-theme {
  --bg-color: #fff;
  --text-color: #000;
  --text-color-02: #222;
  --text-color-03: #444;
  --brand-color: #ff6;
  --brand-color-02: gold;
}

$on-palm-sm:       380px;
$on-palm:          550px;
$on-laptop:        768px;
$on-laptop-big:    1250px;
$on-desktop:       1251px;
