$base-font-family: "Lexend Deca", sans-serif;
$classic-font-family: "DM Serif Text", serif;
$base-font-size:   12px;


$bg-color:         #FFFFFF;
$bg-color-02:      #111111;
$text-color:       #000000;
$text-color-02:    #222222;
$text-color-03:    #444444;
$brand-color:         gold;
$brand-color-02:      #ff6;


$on-palm-sm:       380px;
$on-palm:          550px;
$on-laptop:        768px;
$on-laptop-big:    1250px;
$on-desktop:       1251px;
