body {
  font-family: $base-font-family;
  margin: 0;
  position: relative;
  background: $bg-color;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  background: #eee;
}

h1 {
  font-weight: 600;
  letter-spacing: 0;
  font-size: 42px;
  margin: 15px 0 40px 0;
}

h2 {
  color: $text-color;
  line-height: 1;
  font-family: $classic-font-family;
  font-weight: normal;
  font-size: 42px;
}

.logo {
  color: $text-color;
  font-size: 32px;
  text-decoration: none;
  letter-spacing: -1px;
  font-family: $classic-font-family;

  &.mini {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.text-right {
  text-align: right;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 110px);
  padding: 0 0 55px 0;

  h1 {
    font-size: 95px;
    color: #000;
    line-height: 0.8;
    margin: 20px 0;
    font-family: $classic-font-family;
    font-weight: normal;
    letter-spacing: -4px;
  }

  .big {
    font-size: 42vw;
    position: absolute;
    z-index: -1;
    left: -30px;
    letter-spacing: -29px;
    font-family: $classic-font-family;
    text-align: center;
    width: 100%;
    line-height: 0.6;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    text-shadow: 4px 4px gold;
    opacity: 0.5;
  }

  p {
    font-size: 14px;
    width: 50%;
    line-height: 2;
    letter-spacing: 4px;
  }
}

.btn {
  text-decoration: none;
  padding: 10px 0;
  margin: 15px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: $classic-font-family;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-color;

  &.btn-big {
    font-size: 18px;
  }

  .icon {
    margin: 0 10px;
  }
}

footer {
  color: $text-color-03;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 20px 0;
  text-align: right;
}
