.items-list {
  list-style: none;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  flex-direction: column;
  padding: 150px 0 30px 0;

  @include media-query($on-laptop) {
    padding: 0;
  }

  .item {
    width: 50%;
    margin: -150px 0 0 0;
    padding: 0 20px;

    @include media-query($on-laptop) {
      width: 100%;
      margin: 0;
    }

    &:nth-child(2n) {
      margin-left: auto;
    }

    .item-link {
      display: flex;
      color: $text-color;

      @include media-query($on-laptop) {
        flex-direction: column;
      }

      picture {
        height: 400px;
        min-width: 250px;

        img {
          max-width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }

      .item-box {
        padding: 0 0 0 25px;
        margin: 20px 0 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include media-query($on-laptop) {
          padding: 0 10px;
        }

        h2 {
          margin: 0;
          font-family: $base-font-family;
          font-size: 42px;
          font-weight: 600;
          line-height: 1.1;

          @include media-query($on-laptop) {
            font-size: 28px;
          }
        }

        p {
          font-size: 12px;
          color: $text-color;
          display: inline-block;
          margin: 15px 0 0 0;
          letter-spacing: 1px;
          line-height: 1.5;
        }
      }
    }
  }
}
