*{
  box-sizing: border-box;
}
*:focus{
  outline:0;
}
body{
  background: #eee;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.logo{
  width: 45px;
  height: 45px;
  color:#fff;
  background: #2c3e50;
  font-size: 29px;
  position: fixed;
  top:1rem;
  left: 1rem;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
main{
  margin: 1vh;
  min-height: 98vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #16a085;
  text-align: center;
  flex-direction: column;
}
main h1{
  font-size: 65px;
  order:1;
  margin: 0;
  line-height: 1;
}
main h2{
  order: 2;
  margin: 18px auto;
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #666;
}
main h1 a{
  color: #2c3e50;
  text-decoration: none;
}
main h1 a:hover{
  border-bottom: 3px solid rgba(52, 73, 94,0.2);
}
main #button{
  text-decoration: none;
  color: rgba(52, 73, 94,1);
  font-size: 15px;
  position: absolute;
  bottom: 4rem;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  font-weight: 300;
}
main #button:hover{
  border-bottom: 1px solid rgba(52, 73, 94,0.2);
}
#projects{
  min-height: 98vh;
  margin: 1vh;
  background: #fff;
  display: flex;
  flex-direction: row;
}
/*#projects .half.image:hover img{
  opacity: 0.55;
}*/
#projects .half{
  width: 50%;
}
#projects .half.image img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.95;
}
#projects .half.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 70px;
}
#projects .half.title h2{
  font-size: 60px;
  margin: 0;
  line-height: 60px;
}
#projects .half.title h2 a{
  color: #2c3e50;
  text-decoration: none;
}
#projects .half.title h2 a:hover{
  border-bottom: 1px solid rgba(52, 73, 94,0.05);
}
#projects .half.title h3{
  color: #666;
  font-weight: 300;
  font-size: 18px;
  margin: 25px 0;
  font-family: 'IBM Plex Sans','Poppins',sans-serif;
}
#projects .half.title a.btn{
  padding: 10px 30px;
  border-radius: 45px;
  border: none;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  min-width: 112px;
  margin: 3px 4px;
  font-weight: 300;
  letter-spacing: 1px;
}
#projects .half.title a.btn.light{
  background: #16a085;
}
#projects .half.title a.btn.dark{
  background: #2c3e50;
}
#projects .half.title .icon{
  font-size: 20px;
}
.github {
  font-size: 2rem;
  position: fixed;
  top: .5em;
  right: .7em;
  color: #2c3e50;
  z-index: 1;
}
footer{
  padding: 4vh 2vh;
  text-align: center;
  font-size: 18px;
  color: #666;
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #fff;
  margin: 1vh;
}
footer a{
  color: #666;
  font-weight: 600;
  text-decoration: none;
}
footer a:hover{
  border-bottom:1px solid #ddd;
}
@media all and (max-width: 680px) {
  main h1{
    font-size: 40px;
  }
  main h2{
    margin: 10px 0;
    font-size: 18px;
  }
  main #button{
    font-size: 14px;
  }
  #projects{
    flex-direction: column;
  }
  #projects .half{
    width: 100%;
  }
  #projects .half.image{
    height: 45vh;
  }
  #projects .half.image img{
    height: 100%;
    -webkit-clip-path:polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
  #projects .half.title{
    min-height: 55vh;
    padding: 30px 15px;
  }
  #projects .half.title h2{
    font-size: 40px;
  }
  #projects .half.title a.btn{
    margin: 4px 2px;
  }
}
@media all and (min-width:681px){
  #projects .half.image img{
    -webkit-clip-path:polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  }
}
