.btn {
  text-decoration: none;
  padding: 10px 0;
  margin: 15px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: $classic-font-family;
  font-weight: normal;
  text-transform: uppercase;
  z-index: 21;
  position: relative;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  vertical-align: middle;

  @include media-query($on-palm) {
    letter-spacing: 0;
  }

  .icon {
    margin: 0 10px;

    @include media-query($on-palm) {
      margin: 0 5px;
    }

    &.icon-left {
      margin: 0 2px 0 0;
    }
  }
}
